body {
    margin: 0;
    overflow: hidden;
}
#score-container {
    position: absolute;
    left: 32px;
    z-index: 2;
}
#play-container {
    position: relative;
    width: calc(100vw - 32px);
    height: calc(100vh - 32px);
    margin: 16px;
    z-index: 3;
}
.fish, .trash {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.fish {
    background-color: black;
}
.trash {
    background-color: red;
}
